@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

*, ::after, ::before{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

html{
    font-size: 16px;
}
body{
    margin: 0;
    font-size: 16px;
    color: #fff;
    font-family: 'Maven Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.container{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
}

.firstpage{
    width: 100%;
    height: 100vh;
    background: url("../img/header.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 530px;

}
/* Header */
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.header_logo{
    display: flex;
    align-items: center;
    font-family: 'Maven Pro', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    letter-spacing: 8px;

    flex-grow: 2;
}
.header_logo::before{   
    content: "";
    width: 1.66em;
    height: 1.66em;
    background: url("../img/png/logo_03.png") center no-repeat;
    display: inline-block;
    background-size: cover;
    margin-right: 10px;
    vertical-align: middle;
}
.header_inner{
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}
.nav{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1.5;
}
.item{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: 'Maven Pro', sans-serif;
    flex-basis: 16.6%;
    text-align: center;
}
#last_item{
    border: 1px solid #fff;
    border-radius: 35px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}
#last_item:hover{
    background: none;
}
.item:hover{
   background: url("../img/png/line.png") bottom no-repeat;
   background-position-y: 100%;
   padding-bottom: 15px;
   padding-top: 15px;

}
/* .item:last-child{
    margin: 0;
} */

/* Втавка меню бургер */

#menu {
    z-index: 2;
    top: 30%;
    left: 88%;
    position: absolute;
    display: none;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 40px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #fff;
    display: block;
    transition: 0.5s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav_burger {
    transition: 0.5s ease;
    display: none;
  }
  
  .nav_burger ul {
    padding: 0 22px;
  }
  
  .nav_burger li {
    list-style: none;
    padding: 12px 0;
    text-align: center;
  }
  

  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  

  .nav_burger.change{
    font-size: 14px;
  }

  .nav_burger.change .item{
    background: none;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .nav_burger.change li:hover{
    background: url("../img/png/line.png") bottom no-repeat;
    background-position-y: 100%;  
  }
  .nav_burger.change #last_li:hover{
    background: none;
  }

/* Intro */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}
.intro_inner{
    margin: 0 auto;
    width: 100%;
}
.intro_suptitle{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Maven Pro', sans-serif;
    color: #fff;
    margin-bottom: 20px;
}

.intro_suptitle::after{
    content: "";
    display: inline-block;
    width: 24px;
    height: 1px;
    background-color: #fff;
    margin-left: 15px;
    vertical-align: middle;
}

.intro_suptitle::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 1px;
    background-color: #fff;
    margin-right: 15px;
    vertical-align: middle;
}

.intro_title{
    font-size: 86px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    
}

.intro_undertitle{
    font-size: 16px;
    text-align: center;
    max-width: 375px;
    display: block;
    margin: 0 auto;
}

.arrow_link{
    display: block;
    height: 15vh;
}

.main_arrow{
    background-color: #fff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.arrow-down{
    display: inline-block;
    margin: 0 auto;
    height: 15px;
    width: 12px;
}

/* Section */
.section{
    background-color: #f9fafc;
    width: 100%;
    height: 100vh;
    min-height: 730px;
}
.section_suptitle{
    color: #9fa4af;
    text-transform: uppercase;
}
.section_suptitle::after{
    background-color: #6e45e2;
}
.section_suptitle::before{
    background-color: #6e45e2;
}

.section_title{
    color: #4f4f6f;
    font-size: 60px;
}

.section_undertitle{
    color: #9fa4af;
}
.section_intro-inner{
    margin-top: 50px;
}

.price_list{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1020px;
    margin-top: 3.125rem;
    font-size: 16px;

}

.selection{
    display: flex;
    flex-direction: column;
    width: 18.75rem;
    height: 28.75rem;
    background-color: #fff;
    border-radius: 5%;
    border: 1px solid #d3d7e5;
    margin: 0 1.25rem;
}
.personal{
    font-size: 0.875rem;
    color: #9fa4af;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-top: 2.2rem;
}
.price{
    text-align: center;
    color: #4f4f6f;
    margin-top: 0.625rem;
}
.price_on_month{
    font-size: 2.625rem;
    font-weight: bold;
}
.price_list_information{
    font-size: 1rem;
    color: #b7bbc3;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 14rem;
    margin-top: 1.25rem;
}
.price_img{
    margin: 0 auto;
    margin-top: 2.5rem;
}
.price_img img{
    max-height: 5.875rem;
}
.select_plan{
    margin: 0 auto;
    margin-top: 1.875rem;
    font-weight: bold;
}
.select_plan a{
    box-shadow: 0px 0px 1.15rem 0.15rem rgba(204, 204, 223, 0.5);
    text-decoration: none;
    text-transform: uppercase;
    color: #c2c9db;
    border: 1px solid #d8dce8;
    border-radius: 2.18rem;
    padding: 0.625rem 2.18rem;
    font-size: 0.625rem;
}
.select_plan a:hover{
    background-color: #6e45e2;
    box-shadow: none;
    color: #fff;
    cursor:pointer;
}
.selection:hover{
    border: none;
    box-shadow: 0px 0px 5.12rem 0.6325rem rgba(204, 204, 223, 0.71);

}
.price_on_month sup{
    font-size: 0.75rem;
    position: relative;
    bottom: 0.3125rem;
    right: 0.3125rem;
}

/* Slide */
.slide{
    width: 100%;
    height: 100vh;
}
.slide_intro{
    height: 75vh;
    background: url("../img/slide.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.slide_intro_suptitle{
    margin-top: -50px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.slide_title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
}
.slide_intro_buttons{
    display: flex;
    justify-content: center;
}
.slide_intro_buttons a{
    width: 160px;
    text-decoration: none;
    color: #c2c9db;
    background-color: #fff;
    border-radius: 35px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 15px;
    margin: 5px;
}
.slide_intro_buttons a:hover{
    background-color: #6e45e2;
    box-shadow: none;
    color: #fff;
    cursor:pointer;
}
/* Footer */
.footer{
    width: 100%;
    background: #fff;
}

.footer_logo{
    color: #37374a;
}
.footer_nav a{
    color: #9999a2;
}
.footer_nav a:hover{
    color: #756edc;
}
#footer_last_item{
    background-color: #6e45e2;
    border-radius: 35px;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    padding: 10px;
}
#footer_last_item:hover{
    background-image: none;
}
#footer_hr{
    margin-top: 30px;
    border: 1px solid #f2f2f3;
}
.site_information{
    font-size: 14px;
    color: #b4b4bb;
    flex-grow: 14;
}
.footer_undertitle{
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.contacts{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

@media (min-width: 1200px){
    #menu{
        display: none;
    }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .header_nav{
        display: none;
    }
    #menu{
        display: flex;
        flex-direction: column;
    }
    .nav_burger{
        text-align: center;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .header_nav{
        display: none;
    }
    #menu{
        top: 30%;
        left: 85%;
        display: flex;
        flex-direction: column;
    }
    #menu-bar{
        margin: 30px 0 20px 40px;
    }
    .nav_burger{
        text-align: center;
    }

    .price_list{
        flex-direction: column;
        align-items: center;
    }
    html{
        font-size: 5.5px;
    }
    .selection{
        margin: 1.25rem 0;
    }
    .select_plan{
        margin-top: -0.4rem;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .header_nav{
        display: none;
    }
    #menu{
        top: 30%;
        left: 82%;
        display: flex;
        flex-direction: column;
    }
    .nav_burger{
        text-align: center;
    }
    .price_list{
        flex-direction: column;
        align-items: center;
    }
    html{
        font-size: 5.5px;
    }
    .selection{
        margin: 1.25rem 0;
    }
    .select_plan{
        margin-top: -0.4rem;
    }
    .footer_nav{
        display: flex;
        flex-direction: column;
    }
    .intro_suptitle{
        font-size: 10px;
    }
    .intro_title{
        font-size: 60px;
    }
    .intro_undertitle{
        font-size: 12px;
    }
    .slide_title{
        font-size: 28px;
    }
    .item{
        font-size: 12px;
    }

}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .header_nav{
        display: none;
    }
    #menu{
        top: 30%;
        left: 79%;
        display: flex;
        flex-direction: column;
    }
    .footer_logo{
        font-size: 16px;
    }
    .slide_title{
        font-size: 20px;
    }
    .slide_intro_buttons a{
        width: 100px;
        text-decoration: none;
        color: #c2c9db;
        background-color: #fff;
        border-radius: 35px;
        font-size: 6px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 10px;
        margin: 5px;
    }
    .header_logo{
        font-size: 20px;
    }
    /* #menu{
        top: 30%;
        left: 88%;
        display: flex;
        flex-direction: column;
    }
    .nav_burger{
        text-align: center;
    } */
}